extends layout

block content 
    .main-box.panel.panel-default

        .panel-heading
            h2 Downloads

        .panel-body
            p #{project} uses <a href="http://git-scm.com/">git</a> for version control of all source code, documentation and data. A central repository is hosted on <a href="http://github.com/BreakawayLabs/#{github}">GitHub</a>.

            h3 Source Code

            p The recommended method for accessing the source code is to use git to make a clone of the repository. This will allow you to easily contribute any changes back to the #{project} community. Alternatively, a zip file or tarball can be downloaded from the central repository.

            h4 Users

            p It is recommended that users of #{project} download the latest stable release (#{stable}). Use the following command to clone the latest release from git:

            pre git clone git://github.com/BreakawayLabs/#{github}.git; cd #{github}; git checkout #{stable}

            h4 Developers

            p For developers who wish to make changes to the model and contribute back to the community, it is recommended that the latest development version of #{project} is downloaded. This version will contain changes which have not yet been released in a stable version, but may also contain issues which need resolving before release.

            pre git clone git://github.com/BreakawayLabs/#{github}.git

            h4 Official Releases

            p The following official releases of #{project} are available.

            table.table.table-bordered.table-striped
                tr
                    th Version
                    th Git
                    th .zip
                    th .tar.gz
                for release in releases
                    tr
                        td #{release.name}
                        td <a href="https://github.com/BreakawayLabs/#{github}/commit/#{release.commit}">#{release.commit}</a>
                        td <a href="https://github.com/BreakawayLabs/#{github}/zipball/#{release.name}">link</a>
                        td <a href="https://github.com/BreakawayLabs/#{github}/tarball/#{release.name}">link</a>

            h3 Data

            p The complete distribution of #{project} includes some large data files used for testing and examples. To save your bandwidth and keep source code checkouts fast, the data files are managed in a slightly different way to source code files.

            p All of the data files are hosted <a href="https://climate-cms.nci.org.au/repository/entry/show/Data+Repository/Other+Data+at+NCI/MOM+Test+Data">here</a> by the <a href="http://www.climatescience.org.au/">ARC Centre of Excellence for Climate System Science</a>.


            p The files can be downloaded manually into the data/archives directory or using a helper script:

            pre ./data/get_exp_data.py <filename>

            p However, the preferred method is to download the necessary input data automatically when running a test case, for example:

            pre ./MOM_run --platform PLATFORM_ID --type MODEL_TYPE --experiment TEST_CASE --download_input_data
