extends layout

block content 
    .main-box.panel.panel-default
        //- .panel-group(id="accordian")
        .panel-heading
            h2 Namelists <sup>&beta;</sup>
        .panel-body
            p The MOM code uses <a href="http://publib.boulder.ibm.com/infocenter/lnxpcomp/v8v101/index.jsp?topic=%2Fcom.ibm.xlf101l.doc%2Fxlflr%2Fnamelistio.htm">fortran namelists</a> as a configuration mechanism.
            p This page provides documentation on the available namelist values for each module.
            p The contents of this page are derived directly from the model source code. If you find an error, or would like to make any improvements then you can either <a href="https://github.com/BreakawayLabs/mom/issues">lodge a bug report</a> or make the changes directly via <a href="http://www.github.com/BreakawayLabs/mom">github</a>.
            .panel.panel-warning
                .panel-heading
                    h5 Warning
                .panel-body
                    p This page is currently in beta. The contents and formatting may change without notice. All namelist items used should be checked against the source code of your deployed model before being used.
            for dir in namelists
                h3 #{dir.directory}
                for namelist in dir.namelists
                    if (namelist.items.length > 0)
                        .panel.panel-default
                            .panel-heading
                                button.btn.btn-info(type="button", data-toggle="collapse", data-target="##{namelist.namelist}", style="float:right;") <span class="glyphicon glyphicon-arrow-down"></span>
                                p <strong>Filename</strong>: <a href="https://github.com/BreakawayLabs/mom/tree/master/#{namelist.filename}"><code>#{namelist.filename}</code></a>
                                p <strong>Namelist</strong>: <code>#{namelist.namelist}</code>
                            .panel-collapse.collapse(id="#{namelist.namelist}")
                                .panel-body
                                    table.table.table-hover
                                        tr
                                            th Name
                                            th(style="padding:0px;")
                                                table
                                                    tr
                                                        th Type
                                                    tr
                                                        th Default
                                                    tr
                                                        th Units
                                            th Description

                                        for item in namelist.items
                                            tr
                                                td
                                                    code #{item.name}
                                                td(style="padding:0px;")
                                                    table
                                                        tr
                                                            td
                                                                code #{item.type_}
                                                        tr
                                                            td
                                                                if (item.type_ === "logical")
                                                                    if (item.default === ".true.")
                                                                        <input type="checkbox" class="form-control" value="" checked>
                                                                    else
                                                                        <input type="checkbox" class="form-control" value="">
                                                                else if (item.type_ === "integer")
                                                                    <input type="number" class="form-control" name="points" step="1" value="#{parseInt(item.default)}">
                                                                else if (item.type_ === "real" || item.type_ === "REALTYPE")
                                                                    <input type="number" class="form-control" name="points" value="#{parseFloat(item.default)}">
                                                                else if (item.type_.slice(0, 9) === "character" && item.default !== null)
                                                                    <input type="text" class="form-control" value="#{item.default.slice(1, item.default.length-1)}" maxLenght="#{item.type_.slice(14, -1)}">
                                                                else
                                                                    code #{item.default}
                                                        tr
                                                            td #{item.units}
                                                td !{md(item.description)}

