.well.side-box
    h5 Online Documentation
    p Get up and running no time at all with the <a href="docs/project/quickstart">quickstart guide</a>
    a.btn-primary.btn-small.btn(href="docs/project/quickstart")<i class="icon-font icon-white"></i> Quickstart Guide
.well.side-box
    h5 Open Development
    p All #{project} code is available on <a href="http://www.github.com/BreakawayLabs/#{github}">GitHub</a>.
    iframe(src="http://ghbtns.com/github-btn.html?user=BreakawayLabs&repo=#{github}&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="75", height="20")
    iframe(src="http://ghbtns.com/github-btn.html?user=BreakawayLabs&repo=#{github}&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="72", height="20")    iframe(src="http://ghbtns.com/github-btn.html?user=BreakawayLabs&repo=#{github}&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20")
    a.btn-primary.btn-small.btn(href="http://www.github.com/BreakawayLabs/#{github}")<i class="icon-arrow-right icon-white"></i>  Download
.well.side-box
    h5 FIXME
    p Request a feature or report an issue on the <a href="http://mom-ocean.org/youtrack">task tracker</a> Task Tracker
    a.btn-primary.btn-small.btn(href="http://mom-ocean.org/youtrack")<i class="icon-wrench icon-white"></i> Task Tracker
.well.side-box
    h5 FIXME
    p Check the status of tests being run by the <a href="http://mom-ocean.org/teamcity">continuous integration system</a>
    a.btn-primary.btn-mini.btn(href="http://mom-ocean.org/teamcity")<i class="icon-cog icon-white"></i> Continuous Integration
.well.side-box
    h5 Open Community
    p Join in with the #{project} community discussion on the mailing list.
    a.btn-primary.btn-small.btn(href="https://groups.google.com/forum/#!forum/mom-users")<i class="icon-comment icon-white"></i> #{project} Mailing List
