mixin side_box(title, btn_url, glyph, btn_txt)
    .panel.panel-default.side-box
        .panel-heading
            h3.panel-title #{title}
        .panel-body
            block
            a.btn-primary.btn-small.btn(href="#{btn_url}")<i class="glyphicon glyphicon-#{glyph} glyphicon-white"></i> #{btn_txt}

+side_box("Online Documentation", "/web/docs/project/quickstart", "font", "Quickstart Guide")
    p Get up and running in no time at all.

+side_box("Open Development", "http://www.github.com/BreakawayLabs/" + github, "arrow-right", "Download")
    p All #{project} code is available on Github.
    iframe(src="http://ghbtns.com/github-btn.html?user=BreakawayLabs&repo=#{github}&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="83", height="20")
    iframe(src="http://ghbtns.com/github-btn.html?user=BreakawayLabs&repo=#{github}&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="72", height="20")    iframe(src="http://ghbtns.com/github-btn.html?user=BreakawayLabs&repo=#{github}&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20")

+side_box("Task Tracking", "http://mom-ocean.org/youtrack", "wrench", "Task Tracker")
    p Request a feature or report an issue. Powered by <img src="/YouTrack_logo.gif", width="80px">

+side_box("Continuous Integration", "http://mom-ocean.org/teamcity", "cog", "Continuous Integration")
    p Check the status of tests being run by the continuous integration system. Powered by <img src="/logo_teamcity.gif", width="80px">

+side_box("Open Community", "https://groups.google.com/forum/#!forum/mom-users", "comment", project + " Mailing List")
    p Join in with the #{project} community discussion.
