extends layout


mixin news(title, author, email, date, link)
    .panel.panel-default
        .panel-heading
            h1.panel-title.post-title
                a(href="#{link}") #{title}
            if author !== "" && date !== ""
                p.post-date <a href="mailto:#{email}">#{author}</a> - #{date}
        .panel-body
            block


block content 

    +news("The Modular Ocean Model (MOM)", "", "", "", "/")
        p !{project_desc}
        h4 The Model Development Lab
        p As a community driven open source research project, #{project} uses online software development tools to ensure all development is as open and transparent as possible. The <a href="web/about">Model Development Lab</a> is a collection of tools provided by <a href="http://www.breakawaylabs.com.au">Breakaway Labs</a> to facilitate fast and efficient development.

    for news_item in news_items
        +news(news_item.title, news_item.author, news_item.email, news_item.date, news_item.link)
            !{news_item.block}
