extends layout


mixin news(title, author, email, date, link)
    .panel.panel-default
        .panel-heading
            h1.panel-title.post-title
                a(href="#{link}") #{title}
            if author !== "" && date !== ""
                p.post-date <a href="mailto:#{email}">#{author}</a> - #{date}
        .panel-body
            block
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="#{title}" data-url="http://mom-ocean.science#{link}">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


block content 

    +news("The Modular Ocean Model (MOM)", "", "", "", "/")
        p !{project_desc}
        h4 The Model Development Lab
        p As a community driven open source research project, #{project} uses online software development tools to ensure all development is as open and transparent as possible. The <a href="web/about">Model Development Lab</a> is a collection of tools provided by <a href="http://www.breakawaylabs.com.au">Breakaway Labs</a> to facilitate fast and efficient development.

    for news_item in news_items
        +news(news_item.title, news_item.author, news_item.email, news_item.date, news_item.link)
            !{news_item.block}
